:root {
    --main-text: #000000;
    --secondary-text: #4e474e;
    --section-color: #94a8b3;
    --section-alternate: #dcd3c9;
}

* {
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    font-family: 'Roboto Slab', serif;
    color: var(--main-text);
}

/* ---------- NAV ---------- */
nav {
    background-color: var(--section-color);
    position: sticky;
    margin: 0;
    top: 0;
    z-index: 10;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
}

.nav-link {
    color: black;
}

/* ---------- HOME ---------- */
#home {
    display: flex;
    align-items: center;
    height: 100vh;
}

#home>div>div>div>section>p {
    font-size: 1.25rem;
}

#name {
    color: var(--main-text);
}

#pfp {
    max-width: 300px;
    max-height: 350px;
    border-radius: 8px;
}

.languages {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

/* ---------- ABOUT ---------- */
#about-section {
    padding: 20px 0 20px 0;
    background-color: var(--section-alternate);
    font-size: 1.25rem;
    height: 100vh;
}

.cred-links {
    color: rgb(113, 52, 255);
}

.myDIV {
    text-decoration: underline;
}
.hide {
    display: none;
}

.myDIV:hover+.hide {
    display: inline-block;
}

#music-credits {
    position: absolute;
    height: 200px;
    margin-left: 550px;
}

#apple {
    position: absolute;
    height: 500px;
    margin-left: 450px;
    margin-top: -50px;
}

#spotify {
    position: absolute;
    height: 500px;
    margin-left: 350px;
    margin-top: -50px;
}

#studio-pic {
    position: absolute;
    height: 300px;
    margin-left: 250px;
}

#city {
    position: absolute;
    height: 300px;
    margin-left: 500px;
}

#skills>img {
    max-width: 50px;
    margin: 10px;
    margin-left: 0;
}

/* ---------- PROJECTS ---------- */
#projects-section {
    background-color: var(--section-alternate);
    padding: 20px 0 20px 0;
    font-size: 1.1rem;
    height: 200vh;
}

#projects-section>.container>.row {
    margin-top: 15px;
    padding: 10px;
}

.project-img {
    border: 2px solid black;
}

.project-desc {
    padding-top: 10px;
}

.project-links {
    color: rgb(235, 235, 235);
    color: var(--secondary-text);
}

.tech-used {
    max-width: 40px;
    margin: 10px;
}

/* ---------- CONTACT ---------- */
#contact-section {
    /* background-color: var(--section-alternate); */
    /* padding: 20px 0 20px 0; */
    font-size: 1.1rem;
    height: 100vh;
}
#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#contact>input {
    width: 30vw;
    padding: 5px;
    margin: 10px;
}

#contact>textarea {
    width: 30vw;
    height: 20vh;
    padding: 5px;
}

#contact>#send>input {
    margin-top: 10px;
    width: 8vw;
}

label {
    display: block;
}

/* ---------- FOOTER ---------- */
footer {
    background-color: var(--section-color);
    color: var(--main-text);
    height: 10vh;
    width: 100%;
    bottom: 0;
    padding-top: 10px;
}

footer>div>div>div {
    display: flex;
    align-items: center;
}

.social-icons {
    max-width: 30px;
    margin: 15px;
}