:root {
    --main-text: #000000;
    --secondary-text: #5F6785;
    --section-color: #a5979b;
    --section-alternate: #dcd7cf;
}

* {
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    font-family: 'Roboto Slab', serif;
    color: var(--main-text);
}

/* ---------- NAV ---------- */
nav {
    background-color: var(--section-color);
    position: sticky;
    margin: 0;
    top: 0;
    z-index: 10;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
}

.nav-link {
    color: black;
}

/* ---------- HOME ---------- */
#home {
    display: flex;
    align-items: center;
    height: 100vh;
}

#home>div>div>div>section>p {
    font-size: 1.25rem;
}

#name {
    color: var(--main-text);
}

#pfp {
    max-width: 300px;
    max-height: 350px;
    border-radius: 8px;
}

.languages {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

/* ---------- ABOUT ---------- */
#about-section {
    padding: 20px 0 20px 0;
    background-color: var(--section-alternate);
    font-size: 1.25rem;
    height: 100vh;
}

#about-section>.container>.row>section>p {
    width: 50vw;
}

.cred-links {
    color: rgb(113, 52, 255);
}

.myDIV {
    text-decoration: underline;
}

.hide {
    display: none;
}

.myDIV:hover+.hide {
    display: inline-block;
}

#music-credits {
    position: absolute;
    height: 150px;
    margin-left: 575px;
}

#apple {
    position: absolute;
    height: 500px;
    margin-left: 450px;
    margin-top: -50px;
}

#spotify {
    position: absolute;
    height: 500px;
    margin-left: 350px;
    margin-top: -50px;
}

#studio-pic {
    position: absolute;
    height: 300px;
    margin-left: 225px;
    margin-top: -200px;
}

#city {
    position: absolute;
    height: 300px;
    margin-left: 400px;
    margin-top: -230px;
}

#skills {
    width: 50vw;
}

#skills>img {
    max-width: 50px;
    margin: 10px;
    margin-left: 0;
}

/* ---------- PROJECTS ---------- */
#projects-section {
    /* background-color: var(--section-alternate); */
    padding: 20px 0 20px 0;
    /* font-size: 1.1rem; */
    /* height: 200vh; */
}

#projects-section>.container>.row {
    margin-top: 15px;
    padding: 10px;
}

.project-img {
    border: 2px solid black;
}

.project-links {
    color: rgb(235, 235, 235);
    color: var(--secondary-text);
}

.tech-used {
    max-width: 35px;
    margin: 10px;
}

/* ---------- CONTACT ---------- */
#contact-section {
    font-size: 1.1rem;
    height: 100vh;
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#contact>input {
    width: 30vw;
    padding: 5px;
    margin: 10px;
}

#contact>textarea {
    width: 30vw;
    height: 20vh;
    padding: 5px;
}

#contact>#send>input {
    margin-top: 10px;
    width: 8vw;
}

label {
    display: block;
}

/* ---------- FOOTER ---------- */
footer {
    background-color: var(--section-color);
    color: var(--main-text);
    height: 10vh;
    width: 100%;
    bottom: 0;
    padding-top: 10px;
}

footer>div>div>div {
    display: flex;
    align-items: center;
}

.social-icons {
    max-width: 30px;
    margin: 15px;
}


@media (width < 1024px) {
    /* ---------- HOME ---------- */
    #home {
        display: flex;
        align-items: center;
        height: 100vh;
    }

    #home>div>div>div>section>p {
        font-size: 1.25rem;
    }

    #pfp {
        max-width: 240px;
        max-height: 320px;
        border-radius: 8px;
    }

    /* ---------- ABOUT ---------- */
    #about-section {
        font-size: 1.35rem;
    }

    #about-section>.container>.row>section>p {
        width: 50vw;
    }

    #music-credits {
        height: 165px;
        margin-top: -30px;
        margin-left: 200px;
    }

    #apple {
        margin-left: 350px;
        margin-top: -50px;
    }

    #spotify {
        margin-left: 240px;
        margin-top: -50px;
    }

    #studio-pic {
        height: 250px;
        margin-left: 75px;
    }

    #city {
        height: 250px;
        margin-left: 50px;
    }

    #skills {
        width: 70vw;
    }

    #skills>img {
        max-width: 50px;
    }
}

@media (width < 768px) {

    /* ---------- HOME ---------- */
    #home {
        display: flex;
        align-items: center;
        height: 100vh;
    }

    #home>div>div>div>section>p {
        font-size: 1.25rem;
    }

    #pfp {
        max-width: 240px;
        max-height: 320px;
        border-radius: 8px;
    }

    /* ---------- ABOUT ---------- */
    #about-section {
        font-size: 1rem;
    }

    .myDIV:hover+.hide {
        display: none;
    }

    #skills>img {
        max-width: 35px;
    }

    /* ---------- PROJECTS ---------- */
    #projects-section {
        height: 220vh;
        font-size: 0.75rem;
    }

    .languages {
        display: none;
    }
}

@media (width < 320px) {
    nav {
        font-size: 0.5rem
    }

    /* ---------- HOME ---------- */
    #home {
        display: flex;
        align-items: center;
        height: 100vh;
        font-size: 0.8rem;
    }

    #home>div>div>div>section>p {
        font-size: 1rem;
    }

    #pfp {
        max-width: 240px;
        max-height: 180px;
        border-radius: 8px;
        margin-top: 50px;
    }

    /* ---------- ABOUT ---------- */
    #about-section {
        font-size: 0.75rem;
    }

    #about-section>.container>.row>section>p {
        width: 50vw;
    }

    .myDIV:hover+.hide {
        display: none;
    }

    #skills {
        width: 100vw;
    }

    #skills>img {
        max-width: 20px;
    }

    /* ---------- PROJECTS ---------- */
    #projects-section {
        height: 125vh;
        font-size: 0.65rem;
    }

    .project-details {
        display: none;
    }

    .languages {
        display: none;
    }
}